//
//  Internal.xcconfig
//  Pizza
//
//  Created by Balázs Kilvády on 2024. 10. 16..
//  Copyright © 2024 kil-dev. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_FLAVOR = internal
PIZZA_API_URL = http:/$()/192.168.1.20:4010
SWIFT_ACTIVE_COMPILATION_CONDITIONS = INTERNAL
INFOPLIST_KEY_CFBundleDisplayName = Pizza internal
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-internal
